@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary btn-large" asp-page="/Messages/Create" role="button">Add a New Message</a>
</div>
