@page
@model MessageManager.Pages.Playlists.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Playlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Playlist.Id" />
            <input type="hidden" asp-for="OriginalSeriesId" />
            <div class="form-group">
                <label asp-for="Playlist.YouTubePlaylistId" class="control-label"></label>
                <input asp-for="Playlist.YouTubePlaylistId" class="form-control" />
                <span asp-validation-for="Playlist.YouTubePlaylistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Playlist.SeriesId" class="control-label"></label>
                <select asp-for="Playlist.SeriesId" class="form-control" asp-items="ViewBag.SeriesId"></select>
                <span asp-validation-for="Playlist.SeriesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr>

<div>
    <a class="btn btn-danger" asp-page="/Playlists/Delete" asp-route-id="@Model.Playlist.Id" role="button">Delete</a>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
