@model dynamic
@{
    var Id = Model.GetType().GetProperty("Id").GetValue(Model, null);
    var User = Model.GetType().GetProperty("User").GetValue(Model, null);
}

@* @if((await AuthorizationService.AuthorizeAsync(User, Model, Constants.ReadWritePolicy)).Succeeded)
    {
    <a asp-page="./Edit" asp-route-id="@Id">Delete</a>
    } *@