@page
@model MessageManager.Pages.Notes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Notes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Notes.Id" />
            <input type="hidden" asp-for="OriginalMessageId" />
            <div class="form-group">
                <label asp-for="Notes.Url" class="control-label"></label>
                <input asp-for="Notes.Url" class="form-control" />
                <span asp-validation-for="Notes.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes.Message" class="control-label"></label>
                <select asp-for="Notes.MessageId" class="form-control" asp-items="Model.MessageIdList"></select>
                <span asp-validation-for="Notes.MessageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-page="/Notes/Delete" asp-route-id="@Model.Notes.Id" role="button">Delete</a>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
