@page
@model MessageManager.Pages.Messages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Message.Id" />
            <div class="form-group">
                <label asp-for="Message.Title" class="control-label"></label>
                <input asp-for="Message.Title" class="form-control" />
                <span asp-validation-for="Message.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.Description" class="control-label"></label>
                <input asp-for="Message.Description" class="form-control" />
                <span asp-validation-for="Message.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.BibleReferences" class="control-label"></label>
                <input asp-for="Message.BibleReferences" class="form-control" />
                <span asp-validation-for="Message.BibleReferences" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.Date" class="control-label"></label>
                <input asp-for="Message.Date" class="form-control" />
                <span asp-validation-for="Message.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.VideoId" class="control-label"></label>
                <input asp-for="Message.VideoId" class="form-control" />
                <span asp-validation-for="Message.VideoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.AudioId" class="control-label"></label>
                <input asp-for="Message.AudioId" class="form-control" />
                <span asp-validation-for="Message.AudioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.NotesId" class="control-label"></label>
                <input asp-for="Message.NotesId" class="form-control" />
                <span asp-validation-for="Message.NotesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.SeriesId" class="control-label"></label>
                <select asp-for="Message.SeriesId" class="form-control" asp-items="ViewBag.SeriesId"></select>
                <span asp-validation-for="Message.SeriesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
