@page "{messageId}"

@model MessageManager.Pages_Audio.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Audio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <!-- For now, all audio files are stored in Google Drive. -->
            <!-- A proxy is used to set the URLs by providing the Google Drive ID. -->
            <input type="hidden" asp-for="Audio.StreamUrl" />
            <input type="hidden" asp-for="Audio.DownloadUrl" />
            <div class="form-group">
                <label asp-for="Audio.GoogleDriveId" class="control-label"></label>
                <input asp-for="Audio.GoogleDriveId" class="form-control" />
                <span asp-validation-for="Audio.GoogleDriveId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio.MessageId" class="control-label"></label>
                <select asp-for="Audio.MessageId" class ="form-control" asp-items="ViewBag.MessageId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
